nav {
    background-color: black;
}

main {
    margin-top: 20px;
}

#chat-container {
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
}

.divider {
    margin: 10px;
    background-color: lightgray;
}

.answer {
    white-space:pre-wrap;
    word-wrap:break-word;
    border-radius: 10px;
    padding: 10px;
    background-color: #f5f5f5;
}

.question {
    background-color: #424242;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.chat-session {
    margin-bottom: 0;
    margin-top: 0;
}

.chat-session .row {
    margin-bottom: 0;
    margin-top: 0;
}

#clear-button {
    cursor: pointer;
}