nav {
    background-color: black;
}

main {
    margin-top: 20px;
}

#answer {
    min-height: 300px;
    white-space:pre-wrap;
    word-wrap:break-word;
    max-height: 600px;
    overflow-y: auto;
}

.divider {
    margin: 10px;
    background-color: lightgray;
}

#clear-button {
    cursor: pointer;
}