:root {
    --header-height: 56px;
    --footer-height: 56px;
    --question-width: 500px;
    --bubble-width: 500px;
    --chat-question-height: 150px;
}

.accordion {
    --bs-accordion-active-color: var(--bs-accordion-color);
    --bs-accordion-active-bg: var(--bs-accordion-bg);
}

.chat-session {
    margin-top: 10px;
}

nav {
    background-color: black;
}

body {
    padding-top: var(--header-height);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: hidden;
}

button.renderer {
    border-radius: 0;
    margin: 2px;
}

section {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.thinker {
    border-bottom: 1px solid var(--bs-border-color);
}

.answer {
    padding: 20px;
}

.answer p {
    margin: 0;
}

main {
    flex: 1;
}

footer {
    position: sticky;
    bottom: 0;
}

.sidebar {
    max-height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow-y: scroll;
}

.sidebar > form {
    margin-top: 20px;
}

#chat-question {
    text-align: center;
}

#form-question {
    width: var(--question-width);
}

#chat-container {
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    max-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--chat-question-height));
    overflow-y: scroll;
}

.chat-fixed-width {
    width: 80%;
    margin: 0 auto;
}

.chat-fixed-width > div {
    width: 100%;
}

.chat-fixed-width > div > form {
    display: inline-block;
}

.question {
    text-align: right;
}

.question > p {
    display: inline-block;
}

/* Base speech bubble style */
.speech-bubble {
    position: relative;
    display: inline-block;
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    max-width: var(--bubble-width);
    background-color: var(--bs-secondary);
    color: white;
}

/* Tail (default hidden) */
.speech-bubble::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
}

/* Tail directions */
.speech-bubble-bottom::after {
    top: 100%;
    left: 20px;
    border-top-color: var(--bs-secondary);
}

.speech-bubble-top::after {
    bottom: 100%;
    left: 20px;
    border-bottom-color: var(--bs-secondary);
}

.speech-bubble-left::after {
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    border-right-color: var(--bs-secondary);
}

.speech-bubble-right::after {
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border-left-color: var(--bs-secondary);
}